#pragma once

// Seatsurfing-API-Server
#define API_HOST "seatsurfing.io" // your domain
#define API_IP   {192, 168, 178, 33} //  IP of the seatsurfing server
#define API_PORT 8080 // port of the seatsurfing server

// seatsurfing Service-Account
#define API_USER_ESIGN "your-service-account@domain" // as displayed in the webinterface
#define API_PWD_ESIGN  "your-secret-password" // as displayed in the webinterface
